#text-container {
  width: var(--width-full);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

p {
  font-size: var(--font-size-m);
  line-height: 1.2;
  letter-spacing: 1.1px;
  margin: var(--margin-m) 0;
}

blockquote {
  font-size: var(--font-size-l);
}

figcaption {
  font-size: var(--font-size-m);
}

button {
  font-family: inherit;
  font-size: 6vh;
}
