h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

p {
  margin: var(--margin-m) 0;
}

h1 + * {
  margin-top: var(--margin-xl);
}
h2 + * {
  margin-top: var(--margin-s);
}

blockquote,
blockquote + figcaption {
  margin-left: var(--margin-s);
}

figcaption {
  margin-top: var(--margin-m);
}

.quote {
  margin: calc(var(--margin-m) * 2) 0;
}
