*:not(body) {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  touch-action: manipulation;
}

body {
  background-color: #000;
  color: #fff;
}

blockquote:not(.no-mark)::before {
  content: "“ ";
}
blockquote:not(.no-mark)::after {
  content: " ”";
}
figcaption::before {
  content: "— ";
}
button {
  width: 100%;
  height: 100%;
  border-bottom: var(--border);
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
button:active {
  background-color: #000;
  color: #fff;
  border: none;
}

.v-enter-to,
.v-leave-to {
  opacity: 1;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
