<script setup lang="ts">
import { useNavStore } from "../stores/navStore.js"
import Nav from "../components/control/Nav.vue"
import Niveaux from "../components/control/Niveaux.vue"
import Montages from "../components/control/Montages.vue"
import { useAutoRefreshStore } from "../stores/autoRefreshStore.js"
import { storeToRefs } from "pinia"

const autoRefreshStore = useAutoRefreshStore()
const { autoRefresh } = autoRefreshStore
autoRefresh(true)

const { nav } = storeToRefs(useNavStore())

const apps = {
  Nav,
  Niveaux,
  Montages,
}
</script>
<template>
  <component :is="apps[nav]"></component>
</template>

<style>
ul {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
li {
  height: 100%;
  width: 100%;
}
</style>
