<script setup lang="ts">
import { useNavStore } from "../stores/navStore.js"
import { useAutoRefreshStore } from "../stores/autoRefreshStore.js"
import Text from "../components/display/Text.vue"
import Niveaux from "../components/display/Niveaux.vue"
import Montages from "../components/display/Montages.vue"
import Nav from "../components/display/Nav.vue"
import QRCode from "../components/display/QRCode.vue"
import { storeToRefs } from "pinia"

const autoRefreshStore = useAutoRefreshStore()
const { autoRefresh } = autoRefreshStore
autoRefresh()

const { nav } = storeToRefs(useNavStore())

const apps = {
  Text,
  Niveaux,
  Nav,
  Montages,
}
</script>
<template>
  <component class="display" :is="apps[nav]"></component>
  <!-- <QRCode></QRCode> -->
</template>

<style scoped>
.display {
  cursor: none;
}
</style>
