<template>
  <ul>
    <li>
      <NavBtn />
    </li>
    <li v-for="montage in montages" class="flex">
      <button
        @click="toggleMontage(montage)"
        :class="{ active: montage.isVisible }"
      >
        {{ montage.name }}
      </button>
      <button @click="nextItem()" :disabled="!montage.isVisible">→</button>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { storeToRefs } from "pinia"
import { useMontageStore } from "../../stores/montageStore.js"
import NavBtn from "./NavBtn.vue"

const { visibleMontage, montages } = storeToRefs(useMontageStore())
const { toggleMontage, nextItem } = useMontageStore()
</script>

<style scoped>
ul {
  transform: rotate(180deg);
}
li {
  transform: rotate(-180deg);
}
li button:nth-child(2) {
  width: 30%;
}
</style>
