<template>
  <ul>
    <template v-for="(app, index) in apps" :key="index">
      <li v-if="index !== 'Nav'">
        <button @click="navigateTo(index)">{{ index }}</button>
      </li>
    </template>
  </ul>
</template>

<script setup lang="ts">
import { useNavStore } from "../../stores/navStore.js"
import Nav from "../../components/control/Nav.vue"
import Niveaux from "../../components/control/Niveaux.vue"
import Montages from "../../components/control/Montages.vue"
import { storeToRefs } from "pinia"
import { restoreData } from "../../assets/js/api/restoreData.js"
import { onMounted } from "vue"

const { navigateTo } = useNavStore()

const apps = {
  Nav,
  Niveaux,
  Montages,
}

onMounted(() => {
  restoreData().then((res) => {
    console.log(res)
  })
})
</script>
