<script setup lang="ts">
import { storeToRefs } from "pinia"
import { useNiveauStore } from "../../stores/NiveauStore.js"
import { updateData } from "../../assets/js/api/index.js"
import NavBtn from "./NavBtn.vue"

const { visibleGroup, niveaux } = storeToRefs(useNiveauStore())
const { toggleLayer, prevGroup, nextGroup } = useNiveauStore()

function increaseOpacity(group) {
  group.opacity += 0.25
  updateData("niveaux", niveaux.value).then((data) => {
    console.log("updateData from increaseOpacity : ", data)
  })
}
function decreaseOpacity(group) {
  group.opacity -= 0.25
  updateData("niveaux", niveaux.value).then((data) => {
    console.log("updateData from incrdecreaseOpacityeaseOpacity : ", data)
  })
}
</script>

<template>
  <ul>
    <li v-for="(image, index) in visibleGroup.images" :key="`button-${index}`">
      <!-- <audio
        v-if="image.audioFileName && image.isVisible"
        autoplay
        :src="
          '/assets/audio/niveaux/' +
          image.fileName.replace(/\.[^/.]+$/, '') +
          '/' +
          image.audioFileName
        "
        :id="visibleGroup.name + '-' + index"
      ></audio> -->
      <button
        :class="{ active: image.isVisible }"
        :style="'opacity:' + opacity"
        @click="toggleLayer(visibleGroup.name, index)"
      >
        <img
          v-if="image.isVisible"
          src="/assets/images/svg/eye-open.svg"
          alt=""
        />
        <img v-else src="/assets/images/svg/eye-close.svg" alt="" />
        <!-- <span v-if="image.audioFileName">
          <img class="sound-icon" src="/assets/images/svg/sound.svg" alt="" />
        </span> -->
      </button>
    </li>
    <li id="opacity">
      <button
        :class="visibleGroup.opacity <= 0.05 ? 'disabled' : false"
        @click="decreaseOpacity(visibleGroup)"
        :disabled="visibleGroup.opacity <= 0.05"
      >
        -
      </button>
      <div id="opacity__display" class="border">
        <!-- <p id="opacity__name">opacité</p> -->
        <p id="opacity__value">{{ visibleGroup.opacity * 100 }}%</p>
      </div>
      <button
        @click="increaseOpacity(visibleGroup)"
        :disabled="visibleGroup.opacity >= 0.95"
      >
        +
      </button>
    </li>
    <li class="flex">
      <button @click="prevGroup()">←</button>
      <button @click="nextGroup()">→</button>
    </li>
    <li>
      <NavBtn></NavBtn>
    </li>
  </ul>
</template>

<style scoped>
/* ul {
  transform: rotate(180deg);
}
li {
  transform: rotate(-180deg);
} */
#opacity {
  display: flex;
}
#opacity p {
  margin: 1rem 0;
}
#opacity__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  font-size: 1rem;
}
#opacity__name {
  margin-bottom: 0rem !important;
}
#opacity__value {
  font-weight: bold;
  font-size: 1.3rem;
}
.sound-icon {
  width: 2.5rem;
  margin-left: 1rem;
}

.active .sound-icon {
  background-color: #fff;
}

img {
  height: 2rem;
}
</style>
