<script setup lang="ts">
import { useMontageStore } from "../../stores/montageStore.js"
import { storeToRefs } from "pinia"
import { computed } from "vue"

const { visibleMontage, visibleItem } = storeToRefs(useMontageStore())

const isText = computed(() => {
  return !visibleItem.value.fileName
})
</script>

<template>
  <div :id="isText ? 'text-container' : false" :data-name="visibleMontage.name">
    <figure :key="visibleItem.fileName">
      <img
        v-if="visibleItem.fileName"
        :src="`/assets/images/montages/${visibleMontage.name}/${visibleItem.fileName}`"
        alt=""
        class="layer"
      />
      <template v-else>
        <blockquote
          :class="{ 'no-mark': !visibleItem.author }"
          v-html="visibleItem.text"
        ></blockquote>
        <figcaption v-if="visibleItem.author">
          {{ visibleItem.author }}
        </figcaption>
      </template>
    </figure>
  </div>
</template>

<style scoped>
.montage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
img {
  height: 100vh;
  object-fit: contain;
}
</style>
