<template>
  <figure id="container">
    <div id="qrcode"></div>
    <figcaption>
      scannez pour intéragir <br />
      <i>scan to interact</i>
    </figcaption>
  </figure>
</template>

<script setup lang="ts">
import { onMounted, toRefs } from "vue"

onMounted(() => {
  const qrcode = new QRCode(document.getElementById("qrcode"), {
    text: import.meta.env.VITE_CLIENT_URL + "control",
    width: 128,
    height: 128,
    colorDark: "#000000",
    colorLight: "#ffffff",
    correctLevel: QRCode.CorrectLevel.H,
  })
})
</script>

<style scoped>
#container {
  position: fixed;
  bottom: 5vw;
  left: 5vw;
}
</style>
